
    <img src ="<%=@poster%>" alt= "A poster of movie <%= @title%> .">
    <div >
      <h1><%= @title %></h1>
      <p>Date of release: <%= @released %></p>
      <p>Rating:<%= @rating %></p>
      </div>
      <p><%= @description %></p>
