
    <img src ="<%= @searched['poster']%>" alt= "A poster of movie <%= @searched['title']%>.">
    <div >
      <h1><%= @searched['title'] %></h1>
      <p>Date of release: <%= @searched['released'] %></p>

      </div>
      <p><%= @searched['description'] %></p>
