
    <img src ="<%= @print['poster']%>" alt= "A poster of movie <%= @print['title']%>.">
    <div >
      <h1><%= @print['title'] %></h1>
      <p>Date of release: <%= @print['released'] %></p>
    
      </div>
      <p><%= @print['description'] %></p>